csipsimple reports missed call when answered elsewhere

```
RFC3326 §1:

1. Introduction

   The same SIP [1] request can be issued for a variety of reasons.  For
   example, a SIP CANCEL request can be issued if the call has completed
   on another branch or was abandoned before answer.  While the protocol
   and system behavior is the same in both cases, namely, alerting will
   cease, the user interface may well differ.  In the second case, the
   call may be logged as a missed call, while this would not be
   appropriate if the call was picked up elsewhere.


CSipSimple *does* log a call as having been missed, which RFC3326 describes as 
inappropriate, when the call has been picked up elsewhere.

The CANCEL message will contain a Reason header such as:
      Reason: SIP ;cause=200 ;text="Call completed elsewhere"

We should act on it accordingly.
```

Original issue reported on code.google.com by `dwmw2b@gmail.com` on 30 Apr 2012 at 9:03
